div{
    margin: 20px;
}

img{
    height: 180px;
    width: 286px;
}

label {
    font-size: larger;
    font-weight: bold ;
}

.card{
    border-radius: 10px;
    background-color: rgba(209, 209, 209, 0.473);
}

.card:hover {
    box-shadow: green;
    background-color: rgba(68, 118, 255, 0.473);
}
