<div class="container">
    <div class="row">
        <div class="col">
            <h2>Hello : {{name}}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label>Cart Size: {{cartSize}}</label> | 
            <input type="button" class="btn btn-success" (click)="editProfile()" value="Edit Profile"> |
            <input type="button" class="btn btn-success" (click)="funds()" value="Funds"> |
            <input type="button" class="btn btn-success" (click)="goToCart()" value="Go to Cart"> |          
            <input type="button" class="btn btn-success" (click)="orderStatus()" value="Order Status"> |
            <input type="button" class="btn btn-success" (click)="logout()" value="Logout">
        </div>
    </div>

    <div class="row">
        <div *ngFor="let product of products" class="col-3">
            <div class="card" style="width: 10rem;">
                <div class="card-body">
                    <h5 class="card-title">{{product.name}}</h5>
                    <h6 class="card-subtitle mb-2">${{product.price}}</h6>
                    <h6 class="card-subtitle mb-2">In-stock: {{product.quantity}}</h6>
                    <input type="button" value="Add" class="btn btn-primary" 
                        [disabled]="product.quantity <= 0" (click)="addProductToCart(product)">
                </div>
            </div>
        </div>
    </div>
</div>
