<div>
    <h2>User Panel</h2>
    <p>Hello : {{userName}}</p>
   
    <input type="button" value="Edit Profile"
    (click)="editProfile()"/> |
    <input type="button" value="Funds"
    (click)="funds()"/> |
    <input type="button" value="Cart"
    (click)="cart()"/> |
    <input type="button" value="Order Status"
    (click)="orderStatus()"/> |
    <input type="button" value="Logout"
    (click)="logout()"/> 
    <br>
    <div *ngFor="let product of products" style="border: red solid; display: inline-block; height: auto;">
        <!-- <img src="{{product.image}}"> -->
        <!-- {{product.image}} -->
        {{product.name}}
        {{product.quantity}}
        $ {{product.price/product.quantity}} each
        <br>
        <input type="button" value="Add to Cart">
    </div>
</div>
