<div>
    <h2>Account Create</h2>
    <form [formGroup]="signUpRef" (ngSubmit)="accountCreate()">
        <label>First Name</label>
        <input type="text" formControlName="fname"/><br/>
        <label>Last Name</label>
        <input type="text" formControlName="lname"/><br/>
        <label>EmailId</label>
        <input type="text" formControlName="email"/><br/>
        <label>Password</label>
        <input type="text" formControlName="password"/><br/>
        <label>DOB</label>
        <input type="text" formControlName="DOB"/><br/>
        <label>Phone No.</label>
        <input type="text" formControlName="phone"/><br/>
        <label>Adddress</label>
        <input type="text" formControlName="address"/><br/>

        <input type="submit" value="Sign Up"/>
        <input type="reset" value="reset"/>
    </form>
    <br/>
    {{msg}}
    <br>
    <a routerLink="/">Login Page</a> |
    <a routerLink="/userSignIn">Sign In Page</a>
    
</div>
