<h2>Employee Panel</h2>
<a routerLink="/SendRequest">
    <button style="width:140px"> Send Request </button>
</a>
<!-- <a routerLink="/UpdateOrderStatus"> -->
<button style="width:140px"> Update Order Status </button>
<!-- </a> -->

<br /><br />

<!-- <a routerLink="/UnlockUsers"> -->
<button style="width:140px"> Unlock Users</button>
<!-- </a> -->
<!-- <a routerLink="/EditProfile"> -->
<button style="width:140px"> Edit Profile</button>
<!-- </a> -->

<br /><br />

<a routerLink="">
    <button style="width:280px"> Logout</button>
</a>