<div style="height:100vh">
    <div class="d-flex align-items-center flex-column justify-content-center h-100 text-white">
    <div class="card bg-dark">
        <div class="card-body">
            <h4 class="card-title" style="text-align: center;">Add Funds</h4>
            <form [formGroup]="fundRef" (ngSubmit)="addFunds()">
                <input class="form-control mb-2 mr-sm-2" type="number" formControlName="account" placeholder="Account #" required/><br/>
                <input class="form-control mb-2 mr-sm-2" type="number" formControlName="fundAmt" placeholder="Amount" required/><br/>
                <div style="text-align: center;">
                    <button class="btn btn-info" style="margin-inline: 10px;"type="submit">Add Funds</button>
                    <button class="btn btn-info" type="reset">Reset</button><br/><br/>
                </div>
            </form>
            <h5 style="text-align: center;">{{msg}}</h5>
        </div>
    </div>
</div>