<!DOCTYPE html>
<html lang="en">

<head>
        
    <meta charset="UTF-8">
        
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
        
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

        <div class="container emp-profile" style="margin-top: 3%;" *ngIf="loadingData">
                <h4>Edit Profile</h4>
                
        <hr>
                <form #profileForm='ngForm' (ngSubmit)='saveProfile()'>
                        <div class='form-group mb-3'>

                                <label for="fname">First Name</label>
                                <input type='text' class='form-control' value={{user.fname}} name='fname' disabled>

                                <label for="lname">Last Name</label>
                                <input type='text' class='form-control' value={{user.lname}} name='lname' disabled>

                                <label for="email">Email</label>
                                <input type='email' class='form-control' value={{user.email}} name='email' disabled>

                                <label for="password">Password</label>
                                <input type='text' class='form-control' placeholder='Password'
                    [(ngModel)]='user.password'                     name='password' #password='ngModel' minlength="6"
                                        [ngClass]="{'is-invalid': password.touched && password.invalid}" required>
                                <div *ngIf='password.touched && password.invalid' class='invalid-feedback'>
                                        <div *ngIf='password.errors!.required'>Password is required</div>
                                        <div *ngIf='password.errors!.minlength'>Password must be at least 6 digits</div>
                                    </div>


                            </div>
                        <button type="submit" class="btn btn-primary"
                [disabled]='profileForm.form.invalid'>Save</button> |
                        <button class="btn btn-danger" routerLink="/employeePanel">Cancel</button>
                    </form>
            
    </div>

</body>


</html>