<div>
    <h2>Log In Page</h2>
    <form [formGroup]="signInRef" (ngSubmit)="checkUser()">
        
        <label>Email </label>
        <input type="text" formControlName="email"/><br/>
        <label>Password </label>
        <input type="password" formControlName="password"/><br/>
        
        <input type="submit" value="Sign In" [disabled]="!signInRef.valid"/>
        <input type="reset" value="reset"/>
    </form>

    <br/>
    {{msg}}
    <br>

    <a routerLink="/">Login Page</a> |
    <a routerLink="/userSignUp">SignUp Page</a> |
    <input type="button" value="Raise Ticket"
    (click)="raiseTicket()"/>
</div>

